In [53]:
import pickle
import pandas as pd

In [54]:
## load the Pickle files
with open('label_encoder_gender.pkl', 'rb') as f:
    label_encoder_gender = pickle.load(f)
with open('onehot_encoder_geography.pkl', 'rb') as f:       
    onehot_encoder_geography = pickle.load(f)
with open('scaler.pkl', 'rb') as f:
    scaler = pickle.load(f)

In [55]:
## Load the trained model
from tensorflow.keras.models import load_model
model = load_model('model.h5')

WARNING:absl:At this time, the v2.11+ optimizer `tf.keras.optimizers.Adam` runs slowly on M1/M2 Macs, please use the legacy Keras optimizer instead, located at `tf.keras.optimizers.legacy.Adam`.

In [56]:
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Female',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [57]:
input_data['Gender']=label_encoder_gender.transform([input_data['Gender']])[0]

In [39]:
input_data

{'CreditScore': 600,
 'Geography': 'France',
 'Gender': 0,
 'Age': 40,
 'Tenure': 3,
 'Balance': 60000,
 'NumOfProducts': 2,
 'HasCrCard': 1,
 'IsActiveMember': 1,
 'EstimatedSalary': 50000}

In [49]:
onehot_encoder_geography.categories_  # To check categories for Geography

[array(['France', 'Germany', 'Spain'], dtype=object)]

In [58]:
geography_encoded = onehot_encoder_geography.transform([[input_data['Geography']]]).toarray()

geography_encoded_df = pd.DataFrame(geography_encoded, columns=onehot_encoder_geography.get_feature_names_out(['Geography']))

/Users/majidkhan/Projects/Gen_AI/ANN_Classification/venv/lib/python3.10/site-packages/sklearn/utils/validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [59]:
geography_encoded_df

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [60]:
input_data = pd.concat([pd.DataFrame([input_data]).drop('Geography', axis=1), geography_encoded_df], axis=1)

In [61]:
input_data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,0,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [62]:
input_data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,0,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [63]:
## Scaling the input data
input_data_scaled = scaler.transform(input_data)

In [64]:
input_data_scaled

array([[-0.53598516, -1.09499335,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [65]:
## Prediction
prediction = model.predict(input_data_scaled)

1/1 [==============================] - 0s 31ms/step

In [66]:
prediction

array([[0.05924737]], dtype=float32)