In [127]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
import numpy as np
import pickle

In [128]:
data = pd.read_csv("Churn_Modelling.csv")
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [129]:
data = data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [130]:
data['Gender']

0       Female
1       Female
2       Female
3       Female
4       Female
         ...
9995      Male
9996      Male
9997    Female
9998      Male
9999    Female
Name: Gender, Length: 10000, dtype: object

In [131]:
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [132]:
data['Gender']

0       0
1       0
2       0
3       0
4       0
       ..
9995    1
9996    1
9997    0
9998    1
9999    0
Name: Gender, Length: 10000, dtype: int64

In [133]:
#one hot encoding for 'Geography' column
onehot_encoder = OneHotEncoder(handle_unknown='ignore')
geography_encoded = onehot_encoder.fit_transform(data[['Geography']]).toarray()
geography_df = pd.DataFrame(geography_encoded, columns=onehot_encoder.get_feature_names_out(['Geography']))
onehot_encoder.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [134]:
geography_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [135]:
data['Geography'].unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [136]:
data = pd.concat([data.drop('Geography', axis=1), geography_df], axis=1)
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [137]:
# Split the data into features and target variable
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [138]:
#Save the encoders and scaler for future use
with open('label_encoder_gender_r.pkl', 'wb') as f:
    pickle.dump(label_encoder_gender, f)    
with open('onehot_encoder_geography_r.pkl', 'wb') as f:
    pickle.dump(onehot_encoder, f)

In [139]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)   

X_train

      CreditScore  Gender  ...  Geography_Germany  Geography_Spain
9254          686       1  ...                0.0              0.0
1561          632       1  ...                1.0              0.0
1670          559       1  ...                0.0              1.0
6087          561       0  ...                0.0              0.0
6669          517       1  ...                0.0              0.0
...           ...     ...  ...                ...              ...
5734          768       1  ...                0.0              0.0
5191          682       0  ...                0.0              0.0
5390          735       0  ...                0.0              0.0
860           667       1  ...                0.0              0.0
7270          697       1  ...                1.0              0.0

[8000 rows x 12 columns]

In [140]:
## Scale the features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [141]:
## ANN Model
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [142]:
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)), #HL1 connect with input layer
    Dense(32, activation='relu'), #HL2
    Dense(1), #Output Layer
])
## Compile the model
model.compile(optimizer='adam', loss='mean_absolute_error', metrics=['mae'])
model.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_12 (Dense)            (None, 64)                832

 dense_13 (Dense)            (None, 32)                2080

 dense_14 (Dense)            (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [143]:


## compile the model
model.compile(optimizer='adam', loss='mean_squared_error',  metrics=['mae'])

In [144]:
## setup TensorBoard
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)
## Setup EarlyStopping
early_stopping = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [145]:
### Train the model
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping, tensorboard_callback]
)

Epoch 1/100
250/250 [==============================] - 0s 1ms/step - loss: 13380704256.0000 - mae: 100363.5781 - val_loss: 12998080512.0000 - val_mae: 98472.3828
Epoch 2/100
250/250 [==============================] - 0s 972us/step - loss: 13208279040.0000 - mae: 99505.7188 - val_loss: 12660768768.0000 - val_mae: 96765.5781
Epoch 3/100
250/250 [==============================] - 0s 919us/step - loss: 12614501376.0000 - mae: 96548.6875 - val_loss: 11811025920.0000 - val_mae: 92462.3203
Epoch 4/100
250/250 [==============================] - 0s 849us/step - loss: 11452709888.0000 - mae: 90793.7344 - val_loss: 10400316416.0000 - val_mae: 85330.6484
Epoch 5/100
250/250 [==============================] - 0s 834us/step - loss: 9781879808.0000 - mae: 82469.0078 - val_loss: 8597936128.0000 - val_mae: 76285.9844
Epoch 6/100
250/250 [==============================] - 0s 839us/step - loss: 7870337536.0000 - mae: 72888.4766 - val_loss: 6747623936.0000 - val_mae: 67036.8594
Epoch 7/100
250/250 [==============================] - 0s 837us/step - loss: 6084887552.0000 - mae: 63804.9688 - val_loss: 5212878336.0000 - val_mae: 59438.2852
Epoch 8/100
250/250 [==============================] - 0s 836us/step - loss: 4743382528.0000 - mae: 56993.0312 - val_loss: 4209595904.0000 - val_mae: 54303.0977
Epoch 9/100
250/250 [==============================] - 0s 837us/step - loss: 3951211776.0000 - mae: 52953.2969 - val_loss: 3705272832.0000 - val_mae: 51703.4219
Epoch 10/100
250/250 [==============================] - 0s 832us/step - loss: 3590117120.0000 - mae: 51073.4453 - val_loss: 3515788288.0000 - val_mae: 50762.2070
Epoch 11/100
250/250 [==============================] - 0s 830us/step - loss: 3457643520.0000 - mae: 50391.5391 - val_loss: 3455446528.0000 - val_mae: 50498.5547
Epoch 12/100
250/250 [==============================] - 0s 831us/step - loss: 3411409408.0000 - mae: 50165.3242 - val_loss: 3431921920.0000 - val_mae: 50398.1680
Epoch 13/100
250/250 [==============================] - 0s 837us/step - loss: 3391334912.0000 - mae: 50046.2617 - val_loss: 3418185984.0000 - val_mae: 50334.3477
Epoch 14/100
250/250 [==============================] - 0s 838us/step - loss: 3377900288.0000 - mae: 49976.6719 - val_loss: 3405835264.0000 - val_mae: 50274.6211
Epoch 15/100
250/250 [==============================] - 0s 859us/step - loss: 3368296192.0000 - mae: 49922.2578 - val_loss: 3397479424.0000 - val_mae: 50235.5547
Epoch 16/100
250/250 [==============================] - 0s 867us/step - loss: 3360466432.0000 - mae: 49870.8438 - val_loss: 3388326400.0000 - val_mae: 50187.7969
Epoch 17/100
250/250 [==============================] - 0s 840us/step - loss: 3353819648.0000 - mae: 49843.8516 - val_loss: 3382209024.0000 - val_mae: 50163.3086
Epoch 18/100
250/250 [==============================] - 0s 847us/step - loss: 3348211456.0000 - mae: 49810.6250 - val_loss: 3377303808.0000 - val_mae: 50138.6992
Epoch 19/100
250/250 [==============================] - 0s 829us/step - loss: 3343378176.0000 - mae: 49780.6445 - val_loss: 3372967680.0000 - val_mae: 50119.3477
Epoch 20/100
250/250 [==============================] - 0s 829us/step - loss: 3339417856.0000 - mae: 49758.1055 - val_loss: 3368179968.0000 - val_mae: 50097.7383
Epoch 21/100
250/250 [==============================] - 0s 830us/step - loss: 3335293440.0000 - mae: 49733.5039 - val_loss: 3364533248.0000 - val_mae: 50081.1211
Epoch 22/100
250/250 [==============================] - 0s 1ms/step - loss: 3332993280.0000 - mae: 49727.2305 - val_loss: 3360714240.0000 - val_mae: 50064.0000
Epoch 23/100
250/250 [==============================] - 0s 917us/step - loss: 3329388544.0000 - mae: 49700.0703 - val_loss: 3357971968.0000 - val_mae: 50051.0586
Epoch 24/100
250/250 [==============================] - 0s 819us/step - loss: 3326425600.0000 - mae: 49681.4727 - val_loss: 3356012288.0000 - val_mae: 50042.7539
Epoch 25/100
250/250 [==============================] - 0s 853us/step - loss: 3324195072.0000 - mae: 49665.0547 - val_loss: 3354155008.0000 - val_mae: 50035.8750
Epoch 26/100
250/250 [==============================] - 0s 831us/step - loss: 3322062848.0000 - mae: 49656.2734 - val_loss: 3352912384.0000 - val_mae: 50031.8555
Epoch 27/100
250/250 [==============================] - 0s 817us/step - loss: 3320084736.0000 - mae: 49638.7344 - val_loss: 3352531968.0000 - val_mae: 50033.0117
Epoch 28/100
250/250 [==============================] - 0s 898us/step - loss: 3318458624.0000 - mae: 49627.2266 - val_loss: 3349410048.0000 - val_mae: 50016.8320
Epoch 29/100
250/250 [==============================] - 0s 815us/step - loss: 3316852480.0000 - mae: 49617.0703 - val_loss: 3348299776.0000 - val_mae: 50010.3555
Epoch 30/100
250/250 [==============================] - 0s 815us/step - loss: 3315157248.0000 - mae: 49609.5000 - val_loss: 3350133760.0000 - val_mae: 50026.0273
Epoch 31/100
250/250 [==============================] - 0s 817us/step - loss: 3313712128.0000 - mae: 49594.8125 - val_loss: 3346975744.0000 - val_mae: 50007.9688
Epoch 32/100
250/250 [==============================] - 0s 940us/step - loss: 3312201216.0000 - mae: 49583.9727 - val_loss: 3346908416.0000 - val_mae: 50010.5898
Epoch 33/100
250/250 [==============================] - 0s 928us/step - loss: 3311369216.0000 - mae: 49579.0352 - val_loss: 3345977088.0000 - val_mae: 50006.2773
Epoch 34/100
250/250 [==============================] - 0s 823us/step - loss: 3309913856.0000 - mae: 49569.7930 - val_loss: 3344359680.0000 - val_mae: 49999.4023
Epoch 35/100
250/250 [==============================] - 0s 819us/step - loss: 3308516096.0000 - mae: 49554.5039 - val_loss: 3345798912.0000 - val_mae: 50008.5508
Epoch 36/100
250/250 [==============================] - 0s 823us/step - loss: 3308330496.0000 - mae: 49560.9258 - val_loss: 3346371584.0000 - val_mae: 50013.3164
Epoch 37/100
250/250 [==============================] - 0s 903us/step - loss: 3306830336.0000 - mae: 49547.5000 - val_loss: 3344914944.0000 - val_mae: 50005.8867
Epoch 38/100
250/250 [==============================] - 0s 828us/step - loss: 3305753088.0000 - mae: 49540.4023 - val_loss: 3345032448.0000 - val_mae: 50005.1406
Epoch 39/100
250/250 [==============================] - 0s 816us/step - loss: 3304857088.0000 - mae: 49532.1211 - val_loss: 3344316160.0000 - val_mae: 50003.8203
Epoch 40/100
250/250 [==============================] - 0s 812us/step - loss: 3304518912.0000 - mae: 49530.4766 - val_loss: 3345439488.0000 - val_mae: 50010.9297
Epoch 41/100
250/250 [==============================] - 0s 809us/step - loss: 3303082496.0000 - mae: 49522.6562 - val_loss: 3344892928.0000 - val_mae: 50007.4219
Epoch 42/100
250/250 [==============================] - 0s 813us/step - loss: 3302926592.0000 - mae: 49518.7734 - val_loss: 3343576576.0000 - val_mae: 50001.0430
Epoch 43/100
250/250 [==============================] - 0s 808us/step - loss: 3301971712.0000 - mae: 49510.7031 - val_loss: 3343603456.0000 - val_mae: 50000.0938
Epoch 44/100
250/250 [==============================] - 0s 814us/step - loss: 3301213184.0000 - mae: 49505.3555 - val_loss: 3344909568.0000 - val_mae: 50006.4062
Epoch 45/100
250/250 [==============================] - 0s 808us/step - loss: 3300305920.0000 - mae: 49500.3633 - val_loss: 3343419904.0000 - val_mae: 49999.6211
Epoch 46/100
250/250 [==============================] - 0s 820us/step - loss: 3299671808.0000 - mae: 49493.1836 - val_loss: 3346481920.0000 - val_mae: 50017.8633
Epoch 47/100
250/250 [==============================] - 0s 819us/step - loss: 3299394048.0000 - mae: 49490.9023 - val_loss: 3343118080.0000 - val_mae: 49995.9961
Epoch 48/100
250/250 [==============================] - 0s 812us/step - loss: 3298459392.0000 - mae: 49486.2734 - val_loss: 3343825408.0000 - val_mae: 50002.0234
Epoch 49/100
250/250 [==============================] - 0s 814us/step - loss: 3297815296.0000 - mae: 49480.2969 - val_loss: 3342802688.0000 - val_mae: 49995.3125
Epoch 50/100
250/250 [==============================] - 0s 816us/step - loss: 3297568512.0000 - mae: 49478.8633 - val_loss: 3344535296.0000 - val_mae: 50005.7656
Epoch 51/100
250/250 [==============================] - 0s 813us/step - loss: 3296984576.0000 - mae: 49469.5117 - val_loss: 3345397504.0000 - val_mae: 50011.0742
Epoch 52/100
250/250 [==============================] - 0s 809us/step - loss: 3296298752.0000 - mae: 49470.1328 - val_loss: 3346093568.0000 - val_mae: 50014.7773
Epoch 53/100
250/250 [==============================] - 0s 814us/step - loss: 3295545088.0000 - mae: 49464.0000 - val_loss: 3342698496.0000 - val_mae: 49995.3398
Epoch 54/100
250/250 [==============================] - 0s 812us/step - loss: 3295294208.0000 - mae: 49457.0742 - val_loss: 3344402432.0000 - val_mae: 50007.2695
Epoch 55/100
250/250 [==============================] - 0s 808us/step - loss: 3294804992.0000 - mae: 49454.9961 - val_loss: 3344569344.0000 - val_mae: 50006.8789
Epoch 56/100
250/250 [==============================] - 0s 818us/step - loss: 3294250752.0000 - mae: 49450.1914 - val_loss: 3343620352.0000 - val_mae: 50003.1602
Epoch 57/100
250/250 [==============================] - 0s 815us/step - loss: 3294453248.0000 - mae: 49445.7266 - val_loss: 3344700928.0000 - val_mae: 50008.4141
Epoch 58/100
250/250 [==============================] - 0s 812us/step - loss: 3293622784.0000 - mae: 49446.6250 - val_loss: 3344900352.0000 - val_mae: 50011.5703
Epoch 59/100
250/250 [==============================] - 0s 819us/step - loss: 3293280256.0000 - mae: 49441.5312 - val_loss: 3346106368.0000 - val_mae: 50018.0742
Epoch 60/100
250/250 [==============================] - 0s 831us/step - loss: 3292448512.0000 - mae: 49439.6758 - val_loss: 3344901376.0000 - val_mae: 50012.1758
Epoch 61/100
250/250 [==============================] - 0s 947us/step - loss: 3292305152.0000 - mae: 49436.4570 - val_loss: 3344630784.0000 - val_mae: 50007.4844
Epoch 62/100
250/250 [==============================] - 0s 881us/step - loss: 3291659008.0000 - mae: 49424.2852 - val_loss: 3346027776.0000 - val_mae: 50018.4414
Epoch 63/100
250/250 [==============================] - 0s 916us/step - loss: 3291372288.0000 - mae: 49428.9688 - val_loss: 3345606656.0000 - val_mae: 50013.6523

In [146]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [147]:
#tensorboard --logdir logs/fit

In [148]:
#evaluate the model
loss, mae = model.evaluate(X_test, y_test)
print(f"Test MAE: {mae}")

63/63 [==============================] - 0s 553us/step - loss: 3342698496.0000 - mae: 49995.3398
Test MAE: 49995.33984375

In [149]:
model.save('salary_regression_model.h5')

/Users/majidkhan/Projects/Gen_AI/ANN_Classification/venv/lib/python3.10/site-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(